<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> FAST Test - Advance Maths </title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="application.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>

</head>
<body>
    

    <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    
    <div style="margin-top:10px" class="navbar-header">
     
         <img src="logo_mcqprep.png"> </img>      <!-- Navbar may website ka logo insert kia -->
        
    </div>

      <div style="margin-top:80px ; float:right" class="navbar-header">

          <a href="/Home/home"> <label style="font-family:Tahoma ; color:white" > Go to Home Page </label> </a>

      </div>
      </div>
        </nav>

    

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <h2 style="font-family:Tahoma ; font-size:xx-large ; margin-left:30px ; color:darkblue"> <strong> FAST-NU ENTRY TEST PREPARATION > <label style="font-family:Tahoma ; font-size:medium"> ADVANCE MATHS </label> </strong> </h2>
        </div>
    </nav>

<div class="col-md-3">    
<div class="list-group">
   <label style="font-family:Tahoma" class="list-group-item active"> <strong> Subjects: </strong> </label>
  <a style="font-family:Tahoma" href="/UniTestFast/universities_test_fast_analytical_skills_and_iq_as_p1" class="list-group-item"> Analytical Skills & IQ  </a>
  <a style="font-family:Tahoma" href="/UniTestFast/universities_test_fast_basic_math_percentage_p1" class="list-group-item"> Basic Maths </a>
  <a style="font-family:Tahoma" href="/UniTestFast/universities_test_fast_advance_math_p1" class="list-group-item"> <strong> Advance Maths </strong> ► </a>
  <a style="font-family:Tahoma" href="/UniTestFast/universities_test_fast_english_analogy_p1" class="list-group-item">English</a>
  <a style="font-family:Tahoma" href="/UniTestFast/universities_test_fast_others" class="list-group-item">Others...</a>

</div>
    </div>


    <div class="col-md-6">

  <br /> <br />
        <div class="alert alert-info" role="alert">

            <h5 style="font-family:Tahoma"> Advance Maths Topics &nbsp &nbsp &nbsp
            <button type="button" class="btn btn-info"> <a style="color:white" href="/FastFiles/fast-advance-maths.pdf"> Download Here </a> </button>
        </h5>
                 </div>
              
</div>

    

</body>
    </html>