<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Home </title>

    
     <script src="jquery-1.11.2.min.js"></script>
     <script src="jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.7.1.intellisense.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <script src="application.js"></script>
    <script src="bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- ************** WOW SLIDER Portion ****************** -->


  
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Image carousel" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->


     <!-- ************** WOW SLIDER Portion End ****************** -->

</head>
<body style="background-color:#d7d7d7;margin:0">


  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    
    <div style="margin-top:15px" class="navbar-header">
     
        <a href="/Home/index"> <img src="logo_mcqprep.png"/>  </a>      <!-- Navbar may website ka logo insert kia -->
    </div>


      <div style="margin-top:25px ; margin-left:20px ; float:left" class="navbar-header">

          <font color="white" face="lucida calligraphy" size="5"> <strong> Best Place to prepare for Entry Tests... </strong> </font>

      </div>

      <div class="navbar-header" style="float:right ; margin-top:20px ; margin-right:10px">

        
          <button class="btn" type="button" style="color:black" onclick="location.href='MainInterface.html'" > Logout </button> </h4>
      
      </div>


      <div class="navbar-header" style="float:right ; margin-top:60px ; margin-right:10px">
          <a href="https://www.facebook.com/pages/MCQPrep/1397179693909351?skip_nax_wizard=true&ref_type=bookmark">
          
              <img src="socialmedia-logo/facebook-logo.png" alt="Like us on Facebook" height="25" width="25" />
          </a>
      </div>


      <div class="navbar-header" style="float:right ; margin-top:60px ; margin-right:10px">
          <a href="https://www.twitter.com/">
          
              <img src="socialmedia-logo/twitter-logo.png" alt="Follow us on Twitter" height="25" width="25" />
          </a>
      </div>

      <div class="navbar-header" style="float:right ; margin-top:60px ; margin-right:10px">
          <a href="https://www.linkedin.com/">
          
              <img src="socialmedia-logo/linkedin-logo.png" alt="Find us on Linkedin" height="25" width="25" />
          </a>
      </div>

      <div class="navbar-header" style="float:right ; margin-top:60px ; margin-right:10px">
          <a href="https://plus.google.com/">
          
              <img src="socialmedia-logo/googleplus-logo.png" alt="Find us on Google+" height="25" width="25" />
          </a>
      </div>

      </div>
        


      <hr />   


    
  <div class="container-fluid">
    
    <div class="navbar-header">
     
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">

        <li class="active"> <a style="font-size:medium ; font-family:Tahoma" href="/Home/home"> <strong> Home </strong> </a></li>

        
        <li class="dropdown-uni-test">

          <a style="font-size:medium ; font-family:Tahoma" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <strong> Universities Test </strong> <span class="caret"></span></a>
          
            <ul style="font-size:medium ; font-family:Tahoma" class="dropdown-menu" role="menu">
            
                <li><a href="/UniTestPucit/universities_test_pucit_logical_reasoning_p1">PUCIT</a></li>
                <li><a href="/UniTestFast/universities_test_fast_analytical_skills_and_iq_as_p1">FAST</a></li>
                <li><a href="#">GCU</a></li>
                <li><a href="#">UOL</a></li>
                <li class="divider"></li>
                <li class="disabled"><a href="#">ECAT</a></li>
                <li class="disabled"><a href="#">MCAT</a></li>
          </ul>
        </li>

        <li class="disabled">     <!-- Disabled for some time -->
              <a style="font-size:medium ; font-family:Tahoma" href="#"> <strong> General Knowledge </strong> </a></li>


          <li class="disabled">     <!-- Disabled for some time -->

          <a style="font-size:medium ; font-family:Tahoma" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <strong> Forces Test </strong> <span class="caret"></span></a>
          
            <ul style="font-size:medium ; font-family:Tahoma" class="dropdown-menu" role="menu">
            
                <li class="disabled"><a href="#">Army</a></li>
                <li class="disabled"><a href="#">Air Force</a></li>
                <li class="disabled"><a href="#">Navy</a></li>
          </ul>
        </li>



          <li class="disabled">     <!-- Disabled for some time -->

          <a style="font-size:medium ; font-family:Tahoma" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <strong> NTS </strong> <span class="caret"></span></a>
          
            <ul style="font-size:medium ; font-family:Tahoma" class="dropdown-menu" role="menu">
            
                <li class="disabled"><a href="#">NAT</a></li>
                <li class="disabled"><a href="#">GAT</a></li>
          </ul>
        </li>


          <li class="disabled">     <!-- Disabled for some time -->

          <a style="font-size:medium ; font-family:Tahoma" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <strong> CSS Exam Test </strong> <span class="caret"></span></a>
          
            <ul style="font-size:medium ; font-family:Tahoma" class="dropdown-menu" role="menu">
            
                <li class="disabled"><a href="#">English</a></li>
                <li class="disabled"><a href="#">Islamiat</a></li>
                <li class="disabled"><a href="#">Everyday Science</a></li>
                <li class="disabled"><a href="#">Current Affairs</a></li>
                <li class="disabled"><a href="#">Pakistan Affairs</a></li>
          </ul>
        </li>



         <li class="merit-lists"> <a style="font-size:medium ; font-family:Tahoma" href="/OtherStuff/merit_lists"> <strong> Merit Lists </strong> </a></li>

         <li class="imp-dates"> <a style="font-size:medium ; font-family:Tahoma" href="/OtherStuff/important_dates"> <strong> Important Dates </strong> </a></li>

         <li class="contact-us"> <a style="font-size:medium ; font-family:Tahoma" href="/OtherStuff/contact_us"> <strong> Contact Us </strong> </a></li>

         <li class="help"> <a style="font-size:medium ; font-family:Tahoma" href="/OtherStuff/contact_us"> <strong> Help </strong> </a></li>

      </ul>



      </div>
        </nav>

    
    <!--<div style="margin-left:110px" class="col-md-10"></div>-->
 
 
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/all_universities_entry_tests.png" alt="All Universities Entry Tests" title="All Universities Entry Tests" id="wows1_0"/></li>
		<li><img src="data1/images/aptitude_tests.jpg" alt="Aptitude Tests" title="Aptitude Tests" id="wows1_1"/></li>
		<li><img src="data1/images/dates_to_remember.jpg" alt="Dates to Remember" title="Dates to Remember" id="wows1_2"/></li>
		<li><img src="data1/images/entry_test_preparation.jpg" alt="Entry Test Preparation" title="Entry Test Preparation" id="wows1_3"/></li>
		<li><a href="http://wowslider.com/vf"><img src="data1/images/general_knowledge_tests.jpg" alt="full screen slider" title="full screen slider" id="wows1_4"/></a></li>
		<li><img src="data1/images/merit_lists.jpg" alt="Merit Lists" title="Merit Lists" id="wows1_5"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="All Universities Entry Tests"><img src="data1/tooltips/all_universities_entry_tests.png" alt="All Universities Entry Tests"/>1</a>
		<a href="#" title="Aptitude Tests"><img src="data1/tooltips/aptitude_tests.jpg" alt="Aptitude Tests"/>2</a>
		<a href="#" title="Dates to Remember"><img src="data1/tooltips/dates_to_remember.jpg" alt="Dates to Remember"/>3</a>
		<a href="#" title="Entry Test Preparation"><img src="data1/tooltips/entry_test_preparation.jpg" alt="Entry Test Preparation"/>4</a>
		<a href="#" title="full screen slider"><img src="data1/tooltips/general_knowledge_tests.jpg" alt="full screen slider"/>5</a>
		<a href="#" title="Merit Lists"><img src="data1/tooltips/merit_lists.jpg" alt="Merit Lists"/>6</a>
	</div></div><span class="wsl"><a href="http://wowslider.com/vu">image carousel</a> by WOWSlider.com v7.3</span>
	<div class="ws_shadow"></div>
	</div>
        
        <hr />

            <footer>
  <p align="center">2014-2015 by Muhammad Haroon (BCSF11M024). All Rights Reserved.</p>
  <p align="center"> <strong>Contact us: </strong> <a href="mailto:bcsf11m024@pucit.edu.pk">
  bcsf11m024@pucit.edu.pk</a> </p>
</footer>
    

 	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->



    <script src="jquery.min.js"></script>


  
    </body>


    </html>