<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> MCQPrep </title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
    <script src="bootstrap.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- ****** WOW SLIDER PORTION -->

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Image carousel" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine2/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->



</head>

    
    
<body style="background-color:#d7d7d7;margin:auto">
	
	

    <!-- *************************************************************** -->


    <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div style="margin-top:7px" class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <!--<a class="navbar-brand" href="#">Brand</a>-->
        <a href="/Home/index"> <img src="logo_mcqprep.png"> </img> </a>      <!-- Navbar may website ka logo insert kia -->
    </div>

      <!-- ********** Placing Buttons and text of Sign In and Sign Up ***************** -->

      <div style="margin-top:25px ; margin-left:20px" class="navbar-header" style="float:left">

          <font color="white" face="lucida calligraphy" size="5"> <strong> Best Place to prepare for Entry Tests... </strong> </font>

      </div>

      <div class="navbar-header" style="float:right">

          <h4 style="color:white"> Already Have an Account?  &nbsp &nbsp
          <button class="btn" type="button" style="color:black" onclick="location.href='/Home/signin'" > SignIn </button> </h4>
         
          <h4 style="color:white"> Not registered on MCQPrep? 
         <button class="btn" type="button" style="color:black" onclick="location.href='/Home/signup'" > SignUp </button> </h4>


      </div>

</nav>


    <!-- ****************************************************** -->
                  <!-- **** WOW SLIDER PORTION -->


    <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data2/images/all_universities_entry_tests.png" alt="All Universities Entry Tests" title="All Universities Entry Tests" id="wows1_0"/></li>
		<li><img src="data2/images/aptitude_tests.jpg" alt="Aptitude Tests" title="Aptitude Tests" id="wows1_1"/></li>
		<li><img src="data2/images/dates_to_remember.jpg" alt="Dates to Remember" title="Dates to Remember" id="wows1_2"/></li>
		<li><img src="data2/images/entry_test_preparation.jpg" alt="Entry Test Preparation" title="Entry Test Preparation" id="wows1_3"/></li>
		<li><a href="http://wowslider.com/vf"><img src="data2/images/general_knowledge_tests.jpg" alt="full screen slider" title="full screen slider" id="wows1_4"/></a></li>
		<li><img src="data2/images/merit_lists.jpg" alt="Merit Lists" title="Merit Lists" id="wows1_5"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="All Universities Entry Tests"><img src="data2/tooltips/all_universities_entry_tests.png" alt="All Universities Entry Tests"/>1</a>
		<a href="#" title="Aptitude Tests"><img src="data2/tooltips/aptitude_tests.jpg" alt="Aptitude Tests"/>2</a>
		<a href="#" title="Dates to Remember"><img src="data2/tooltips/dates_to_remember.jpg" alt="Dates to Remember"/>3</a>
		<a href="#" title="Entry Test Preparation"><img src="data2/tooltips/entry_test_preparation.jpg" alt="Entry Test Preparation"/>4</a>
		<a href="#" title="full screen slider"><img src="data2/tooltips/general_knowledge_tests.jpg" alt="full screen slider"/>5</a>
		<a href="#" title="Merit Lists"><img src="data2/tooltips/merit_lists.jpg" alt="Merit Lists"/>6</a>
	</div></div><span class="wsl"><a href="http://wowslider.com/vu">image carousel</a> by WOWSlider.com v7.3</span>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->


    <div class="row" >
        <div class="col-md-3">

            <!-- Empty -->
            
        </div>

    
        

    
     <div class="col-md-3">

            <h5> <strong> <u> <font color="green" face="tahoma">  :: Entry Test Preparation </font> </u> </strong> </h5>

         <p> <font color="black" face="tahoma">

             If you are invited to take a test by any college or university you have applied to, you need to have proper preparation for that. At this website you may get complete guidance in preparing your test. We have education experts equipped with comprehensive ideas about the all about entry tests of different colleges and universities.
             The students have a dream to get admission in technical colleges, medical colleges. Majority of candidate can’t do well in entry tests and fail. Thousands of students appear in entry test with the hope of starting their professional studies but do not succeed. What is the reason of this failure?
             Majority of the students are quite confused about the nature and paper pattern of the entry test. They also find difficulty in managing their given time in solving different questions. They need guidance and enough practice before appearing in the entry test.
             The tests offered by this website for online preparation are ECAT, MCAT, CSS, PCS, PMS, NTS and some international tests like IELTS, TOEFL, GMAT, GRE, and SAT etc. We have a range of experts who have a vast experience of preparation of all types of entry tests of all the institutes of professional studies. The students have an online opportunity to practice the solution of paper by managing their time.

             </font>
              </p>

     </div>


     <div class="col-md-3">

            <h5> <strong> <u> <font color="green" face="tahoma">  :: Why MCQPrep? </font> </u> </strong> </h5>

         <p> <font color="black" face="tahoma">

            We are here to listen your problems and removing your confusions. The confusion of the students what to do about entry test has been instantly accepted by this website. No need to go anywhere to seek guidance now. You have your own site know to know the proper solution of your problems. Stay with this website to know and do something really helpful to start your professional. We will not let you alone but are practically with you with all our prayers. Wishing you all the best
            The entry test preparation program of geekmcq.com is really a nice step to guide the students and give them relevant material on line. All the students who require guidance and need to know about the paper pattern of different professional institutes are invited to come on this website and took benefit from our effort which is available at this website. The students may get practice again and again by solving given questions and they the technique of time management as well.

             </font>
              </p>

     </div>

    </div>

        <hr />

    <footer>
  <p align="center">2014-2015 by Muhammad Haroon (BCSF11M024). All Rights Reserved.</p>
  <p align="center"> <strong>Contact us: </strong> <a href="mailto:bcsf11m024@pucit.edu.pk">
  bcsf11m024@pucit.edu.pk</a> </p>
</footer>

</body>
</html>
