<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> MCQPrep - Admin Panel - FAST </title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="application.js"></script>
    <script src="~/Content/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- ****** WOW SLIDER PORTION -->

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Image carousel" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine2/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->



</head>

    <body style="background-color:darkblue">

        <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    
    <div class="navbar-header">
     
        <a href="index"> <img src="logo_mcqprep.png"> </img> </a>      <!-- Navbar may website ka logo insert kia -->
    </div>
      </div>
        </nav>

        @*  -------------------------------------------------------------------------------------------*@


         <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title"> <strong> Admin Panel </strong> </div>
                       
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <h4 style="font-size:large ; font-family:Tahoma"> Please enter your choice: </h4>
                                           <br /> <br />  
                        <a href="/AdminEnd/AddQuestionFast" class="btn btn-info"> Add Question </a>
                        <br /> <br />
                        <a href="/AdminEnd/UpdateQuestionFast" class="btn btn-info"> Update Question </a>
                        <br /> <br />
                        <a href="/AdminEnd/DeleteQuestionFast" class="btn btn-info"> Delete Question </a>
                        <br /> <br />

                    </div>  
        </div>
                         </div>
    
             <br /> <br /> <br /> <br />      <br /> <br /> <br /> <br />  <br /> <br /> <br /> <br />       <br /> <br /> <br /> <br />   <br /> <br /> <br /> <br /> 

             <hr />


    <footer>
  <p style="color:white" align="center">2014-2015 by Muhammad Haroon (BCSF11M024). All Rights Reserved.</p>
  <p style="color:white" align="center"> <strong>Contact us: </strong> <a href="mailto:bcsf11m024@pucit.edu.pk">
  bcsf11m024@pucit.edu.pk</a> </p>
</footer>


    </body>


    </html>