<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Contact Us </title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="application.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    

    <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    
    <div style="margin-top:10px" class="navbar-header">
     
         <img src="logo_mcqprep.png"> </img>      <!-- Navbar may website ka logo insert kia -->
        
    </div>

      <div style="margin-top:80px ; float:right" class="navbar-header">

          <a href="/Home/home"> <label style="font-family:Tahoma ; color:white" > Go to Home Page </label> </a>

      </div>
      </div>
        </nav>

    

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <h2 style="font-family:Tahoma ; font-size:xx-large ; margin-left:30px ; color:darkblue"> <strong> CONTACT US </strong> </h2>

        </div>
    </nav>




<div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title"> <strong>Write to us... </strong> </h3>
   </div>

        <div class="panel-body">

            <label for="name" class="col-md-3 control-label">Name </label>
                  <div style="margin-bottom: 10px" class="col-md-9">
                     <input id="name" type="text" class="form-control" name="name" placeholder="Your Name"/>
                  </div>


            <label for="email" class="col-md-3 control-label">Email</label>
                 <div style="margin-bottom: 10px" class="col-md-9">
                    <input id="email" type="text" class="form-control" name="email" placeholder="Your Email Address"/>
                 </div>

            <label for="message" class="col-md-3 control-label">Message</label>
                <div style="margin-bottom: 10px" class="col-md-9">
                    <textarea rows="5" cols="41" placeholder="  Enter Message Here..."></textarea>

                </div>

             <div  style="margin-bottom: 15px ; float:right" class="col-md-3 control-label">
                <button id="btn-submit" type="button" class="btn btn-info"> Submit</button>
             </div>


        </div>
        </div>
    </div>



    <div class="col-md-1"></div>

    <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px">
   <div class="panel-heading">
      <h3 class="panel-title"> <strong> Contact Information </strong> </h3>
   </div>
   <div class="panel-body">

       <table class="table">
           <tbody>
               <tr>
                   <td style="font-family:Tahoma"> <strong> Address: </strong> </td>
                   <td style="font-family:Tahoma"> Punjab University College of Information Technology, The Mall-III, Lahore <br /> </td>
               </tr>
               
               <tr>
                   <td style="font-family:Tahoma"> <strong> Facebook Page: </strong> </td>
                   <td style="font-family:Tahoma"> <a href="https://www.facebook.com/pages/MCQPrep/1397179693909351"> MCQPrep </a> <br /> </td>
               </tr>

               <tr>
                   <td style="font-family:Tahoma"> <strong> Phone Number: </strong> </td>
                   <td style="font-family:Tahoma"> +92 344 8188 314 <br /> <br /> </td>
               </tr>
              
               <tr>
                   <td style="font-family:Tahoma"> <strong> Email: </strong> </td>
                   <td style="font-family:Tahoma"> bcsf11m024@pucit.edu.pk <br /> haroon.capricorn@gmail.com <br /> prepmcq@gmail.com <br /> <br /> </td>
               </tr>
               

           </tbody>

       </table>

       </div>
        </div>
        </div>

        </body>
    </html>