<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Important Dates </title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="application.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    

    <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    
    <div style="margin-top:10px" class="navbar-header">
     
         <img src="logo_mcqprep.png"> </img>      <!-- Navbar may website ka logo insert kia -->
        
    </div>

      <div style="margin-top:80px ; float:right" class="navbar-header">

          <a href="/Home/home"> <label style="font-family:Tahoma ; color:white" > Go to Home Page </label> </a>

      </div>
      </div>
        </nav>

    

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <h2 style="font-family:Tahoma ; font-size:xx-large ; margin-left:30px ; color:darkblue"> <strong> IMPORTANT DATES </strong> </h2>

        </div>
    </nav>




<div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title">Pubjab University College of Information Technology (PUCIT)</h3>
   </div>
        
   <table class="table table-bordered">
       <thead>
           <tr class="success">
               <th> Sr.# </th>
               <th> Details </th>
               <th> Last Date </th>
           </tr>
       </thead>

       <tbody>
           <tr class="info">
               <td> 1 </td>
               <td> Advertisement of Admission </td>
               <td> 07-09-2014 </td>
           </tr>

           <tr>
               <td> 2 </td>
               <td> Availability of Forms </td>
               <td> 11-09-2014 </td>
           </tr>

           <tr class="info">
               <td> 3 </td>
               <td> Last Date of Submission of Form </td>
               <td> 20-09-2014 </td>
           </tr>

           <tr>
               <td> 4 </td>
               <td> Entry Test </td>
               <td> 22-09-2014 </td>
           </tr>

               <tr class="info">
               <td> 5 </td>
               <td> First Merit List </td>
               <td> 27-09-2014 </td>
           </tr>

           <tr>
               <td> 6 </td>
               <td> Last date of Submission of Dues </td>
               <td> 30-09-2014 </td>
           </tr>


           <tr class="info">
               <td> 7 </td>
               <td> Second Merit List </td>
               <td> 01-10-2014 </td>
           </tr>

           <tr>
               <td> 8 </td>
               <td> Last date of Submission of Dues </td>
               <td> 03-10-2014 </td>
           </tr>

           </tr>

               <tr class="info">
               <td> 9 </td>
               <td> Third Merit List </td>
               <td> 04-10-2014 </td>
           </tr>

           <tr>
               <td> 10 </td>
               <td> Last date of Submission of Dues </td>
               <td> 15-10-2014 </td>
           </tr>

           <tr class="info">
               <td> 11 </td>
               <td> Commencement of Classes </td>
               <td> 20-10-2014 </td>
           </tr>

       </tbody>

   </table>


</div>
        </div>


    <div class="col-md-1"></div>

    <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px">
   <div class="panel-heading">
      <h3 class="panel-title">Government College University (GCU) Lahore</h3>
   </div>
           <table class="table table-bordered">
       <thead>
           <tr class="success">
               <th> Sr.# </th>
               <th> Details </th>
               <th> Last Date </th>
           </tr>
       </thead>

       <tbody>
           <tr class="info">
               <td> 1 </td>
               <td> Advertisement of Admission </td>
               <td> 07-09-2014 </td>
           </tr>

           <tr>
               <td> 2 </td>
               <td> Availability of Forms </td>
               <td> 11-09-2014 </td>
           </tr>

           <tr class="info">
               <td> 3 </td>
               <td> Last Date of Submission of Form </td>
               <td> 20-09-2014 </td>
           </tr>

           <tr>
               <td> 4 </td>
               <td> Entry Test </td>
               <td> 22-09-2014 </td>
           </tr>

               <tr class="info">
               <td> 5 </td>
               <td> First Merit List </td>
               <td> 27-09-2014 </td>
           </tr>

           <tr>
               <td> 6 </td>
               <td> Last date of Submission of Dues </td>
               <td> 30-09-2014 </td>
           </tr>


           <tr class="info">
               <td> 7 </td>
               <td> Second Merit List </td>
               <td> 01-10-2014 </td>
           </tr>

           <tr>
               <td> 8 </td>
               <td> Last date of Submission of Dues </td>
               <td> 03-10-2014 </td>
           </tr>

           </tr>

               <tr class="info">
               <td> 9 </td>
               <td> Third Merit List </td>
               <td> 04-10-2014 </td>
           </tr>

           <tr>
               <td> 10 </td>
               <td> Last date of Submission of Dues </td>
               <td> 15-10-2014 </td>
           </tr>

           <tr class="info">
               <td> 11 </td>
               <td> Commencement of Classes </td>
               <td> 20-10-2014 </td>
           </tr>

       </tbody>

   </table>

</div>
        </div>



        <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title">National University (FAST) Lahore</h3>
   </div>

     <table class="table table-bordered">
       <thead>
           <tr class="success">
               <th> Sr.# </th>
               <th> Details </th>
               <th> Last Date </th>
           </tr>
       </thead>

       <tbody>
           <tr class="info">
               <td> 1 </td>
               <td> Advertisement of Admission </td>
               <td> 07-09-2014 </td>
           </tr>

           <tr>
               <td> 2 </td>
               <td> Availability of Forms </td>
               <td> 11-09-2014 </td>
           </tr>

           <tr class="info">
               <td> 3 </td>
               <td> Last Date of Submission of Form </td>
               <td> 20-09-2014 </td>
           </tr>

           <tr>
               <td> 4 </td>
               <td> Entry Test </td>
               <td> 22-09-2014 </td>
           </tr>

               <tr class="info">
               <td> 5 </td>
               <td> First Merit List </td>
               <td> 27-09-2014 </td>
           </tr>

           <tr>
               <td> 6 </td>
               <td> Last date of Submission of Dues </td>
               <td> 30-09-2014 </td>
           </tr>


           <tr class="info">
               <td> 7 </td>
               <td> Second Merit List </td>
               <td> 01-10-2014 </td>
           </tr>

           <tr>
               <td> 8 </td>
               <td> Last date of Submission of Dues </td>
               <td> 03-10-2014 </td>
           </tr>

           </tr>

               <tr class="info">
               <td> 9 </td>
               <td> Third Merit List </td>
               <td> 04-10-2014 </td>
           </tr>

           <tr>
               <td> 10 </td>
               <td> Last date of Submission of Dues </td>
               <td> 15-10-2014 </td>
           </tr>

           <tr class="info">
               <td> 11 </td>
               <td> Commencement of Classes </td>
               <td> 20-10-2014 </td>
           </tr>

       </tbody>

   </table>


</div>
        </div>


    <div class="col-md-1"></div>

    <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px">
   <div class="panel-heading">
      <h3 class="panel-title">University Of Lahore (UOL) Lahore</h3>
   </div>

           <table class="table table-bordered">
       <thead>
           <tr class="success">
               <th> Sr.# </th>
               <th> Details </th>
               <th> Last Date </th>
           </tr>
       </thead>

       <tbody>
           <tr class="info">
               <td> 1 </td>
               <td> Advertisement of Admission </td>
               <td> 07-09-2014 </td>
           </tr>

           <tr>
               <td> 2 </td>
               <td> Availability of Forms </td>
               <td> 11-09-2014 </td>
           </tr>

           <tr class="info">
               <td> 3 </td>
               <td> Last Date of Submission of Form </td>
               <td> 20-09-2014 </td>
           </tr>

           <tr>
               <td> 4 </td>
               <td> Entry Test </td>
               <td> 22-09-2014 </td>
           </tr>

               <tr class="info">
               <td> 5 </td>
               <td> First Merit List </td>
               <td> 27-09-2014 </td>
           </tr>

           <tr>
               <td> 6 </td>
               <td> Last date of Submission of Dues </td>
               <td> 30-09-2014 </td>
           </tr>


           <tr class="info">
               <td> 7 </td>
               <td> Second Merit List </td>
               <td> 01-10-2014 </td>
           </tr>

           <tr>
               <td> 8 </td>
               <td> Last date of Submission of Dues </td>
               <td> 03-10-2014 </td>
           </tr>

           </tr>

               <tr class="info">
               <td> 9 </td>
               <td> Third Merit List </td>
               <td> 04-10-2014 </td>
           </tr>

           <tr>
               <td> 10 </td>
               <td> Last date of Submission of Dues </td>
               <td> 15-10-2014 </td>
           </tr>

           <tr class="info">
               <td> 11 </td>
               <td> Commencement of Classes </td>
               <td> 20-10-2014 </td>
           </tr>

       </tbody>

   </table>


</div>
        </div>



  <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title">National of Engineering and Technology (UET) </h3>
   </div>

   <table class="table table-bordered">
       <thead>
           <tr class="success">
               <th> Sr.# </th>
               <th> Details </th>
               <th> Last Date </th>
           </tr>
       </thead>

       <tbody>
           <tr class="info">
               <td> 1 </td>
               <td> Advertisement of Admission </td>
               <td> 07-09-2014 </td>
           </tr>

           <tr>
               <td> 2 </td>
               <td> Availability of Forms </td>
               <td> 11-09-2014 </td>
           </tr>

           <tr class="info">
               <td> 3 </td>
               <td> Last Date of Submission of Form </td>
               <td> 20-09-2014 </td>
           </tr>

           <tr>
               <td> 4 </td>
               <td> Entry Test </td>
               <td> 22-09-2014 </td>
           </tr>

               <tr class="info">
               <td> 5 </td>
               <td> First Merit List </td>
               <td> 27-09-2014 </td>
           </tr>

           <tr>
               <td> 6 </td>
               <td> Last date of Submission of Dues </td>
               <td> 30-09-2014 </td>
           </tr>


           <tr class="info">
               <td> 7 </td>
               <td> Second Merit List </td>
               <td> 01-10-2014 </td>
           </tr>

           <tr>
               <td> 8 </td>
               <td> Last date of Submission of Dues </td>
               <td> 03-10-2014 </td>
           </tr>

           </tr>

               <tr class="info">
               <td> 9 </td>
               <td> Third Merit List </td>
               <td> 04-10-2014 </td>
           </tr>

           <tr>
               <td> 10 </td>
               <td> Last date of Submission of Dues </td>
               <td> 15-10-2014 </td>
           </tr>

           <tr class="info">
               <td> 11 </td>
               <td> Commencement of Classes </td>
               <td> 20-10-2014 </td>
           </tr>

       </tbody>

   </table>


</div>
        </div>



        <div class="col-md-1"></div>

    <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px">
   <div class="panel-heading">
      <h3 class="panel-title">University of the Punjab, Lahore</h3>
   </div>

   <table class="table table-bordered">
       <thead>
           <tr class="success">
               <th> Sr.# </th>
               <th> Details </th>
               <th> Last Date </th>
           </tr>
       </thead>

       <tbody>
           <tr class="info">
               <td> 1 </td>
               <td> Advertisement of Admission </td>
               <td> 07-09-2014 </td>
           </tr>

           <tr>
               <td> 2 </td>
               <td> Availability of Forms </td>
               <td> 11-09-2014 </td>
           </tr>

           <tr class="info">
               <td> 3 </td>
               <td> Last Date of Submission of Form </td>
               <td> 20-09-2014 </td>
           </tr>

           <tr>
               <td> 4 </td>
               <td> Entry Test </td>
               <td> 22-09-2014 </td>
           </tr>

               <tr class="info">
               <td> 5 </td>
               <td> First Merit List </td>
               <td> 27-09-2014 </td>
           </tr>

           <tr>
               <td> 6 </td>
               <td> Last date of Submission of Dues </td>
               <td> 30-09-2014 </td>
           </tr>


           <tr class="info">
               <td> 7 </td>
               <td> Second Merit List </td>
               <td> 01-10-2014 </td>
           </tr>

           <tr>
               <td> 8 </td>
               <td> Last date of Submission of Dues </td>
               <td> 03-10-2014 </td>
           </tr>

           </tr>

               <tr class="info">
               <td> 9 </td>
               <td> Third Merit List </td>
               <td> 04-10-2014 </td>
           </tr>

           <tr>
               <td> 10 </td>
               <td> Last date of Submission of Dues </td>
               <td> 15-10-2014 </td>
           </tr>

           <tr class="info">
               <td> 11 </td>
               <td> Commencement of Classes </td>
               <td> 20-10-2014 </td>
           </tr>

       </tbody>

   </table>


</div>
        </div>



      <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title">King Edwards Medical University (KEMU), Lahore </h3>
   </div>

           <table class="table table-bordered">
       <thead>
           <tr class="success">
               <th> Sr.# </th>
               <th> Details </th>
               <th> Last Date </th>
           </tr>
       </thead>

       <tbody>
           <tr class="info">
               <td> 1 </td>
               <td> Advertisement of Admission </td>
               <td> 07-09-2014 </td>
           </tr>

           <tr>
               <td> 2 </td>
               <td> Availability of Forms </td>
               <td> 11-09-2014 </td>
           </tr>

           <tr class="info">
               <td> 3 </td>
               <td> Last Date of Submission of Form </td>
               <td> 20-09-2014 </td>
           </tr>

           <tr>
               <td> 4 </td>
               <td> Entry Test </td>
               <td> 22-09-2014 </td>
           </tr>

               <tr class="info">
               <td> 5 </td>
               <td> First Merit List </td>
               <td> 27-09-2014 </td>
           </tr>

           <tr>
               <td> 6 </td>
               <td> Last date of Submission of Dues </td>
               <td> 30-09-2014 </td>
           </tr>


           <tr class="info">
               <td> 7 </td>
               <td> Second Merit List </td>
               <td> 01-10-2014 </td>
           </tr>

           <tr>
               <td> 8 </td>
               <td> Last date of Submission of Dues </td>
               <td> 03-10-2014 </td>
           </tr>

           </tr>

               <tr class="info">
               <td> 9 </td>
               <td> Third Merit List </td>
               <td> 04-10-2014 </td>
           </tr>

           <tr>
               <td> 10 </td>
               <td> Last date of Submission of Dues </td>
               <td> 15-10-2014 </td>
           </tr>

           <tr class="info">
               <td> 11 </td>
               <td> Commencement of Classes </td>
               <td> 20-10-2014 </td>
           </tr>

       </tbody>

   </table>



</div>
        </div>



    </body>
    </html>