<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Merit Lists </title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="application.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    

    <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    
    <div style="margin-top:10px" class="navbar-header">
     
         <img src="logo_mcqprep.png"> </img>      <!-- Navbar may website ka logo insert kia -->
        
    </div>

      <div style="margin-top:80px ; float:right" class="navbar-header">

          @*<a href="/Home/home"> <label style="font-family:Tahoma ; color:white" > Go to Home Page </label> </a>*@
          @* This is commented just to use HTML helper *@

          @Html.ActionLink("Go to Home Page", "~/Home/home");


      </div>
      </div>
        </nav>

    

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <h2 style="font-family:Tahoma ; font-size:xx-large ; margin-left:30px ; color:darkblue"> <strong> MERIT LISTS </strong> </h2>

        </div>

    </nav>


<div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title">Pubjab University College of Information Technology (PUCIT)</h3>
   </div>
   <div class="panel-body">
       <ul>
          <li><a href="file1.docx"> BS(CS) Morning Old Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(SE) Morning Old Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(IT) Morning Old Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(CS) Afternoon Old Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(SE) Afternoon Old Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(IT) Afternoon Old Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(CS) Morning New Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(SE) Morning New Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(IT) Morning New Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(CS) Afternoon New Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(SE) Afternoon New Campus - First Merit List </a></li>
          <li><a href="file1.docx"> BS(IT) Afternoon New Campus - First Merit List </a></li>
       </ul>
   </div>
</div>
        </div>


    <div class="col-md-1"></div>

    <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px">
   <div class="panel-heading">
      <h3 class="panel-title">Government College University (GCU) Lahore</h3>
   </div>
   <div class="panel-body">
       <ul>
          <li><a href="file1.docx"> BS(CS) Morning - First Merit List </a></li>
          <li><a href="file1.docx"> BS(SE) Morning - First Merit List </a></li>
          <li><a href="file1.docx"> BS(CS) Evening - First Merit List </a></li>
          <li><a href="file1.docx"> BS(SE) Evening - First Merit List </a></li>
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
       </ul>
   </div>
</div>
        </div>



        <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title">National University (FAST) Lahore</h3>
   </div>

   <div class="panel-body">
       <ul>
          <li><a href="file1.docx"> BS(CS) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(EE) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(CE) - First Merit List </a></li>
          <li><a href="file1.docx"> BBA - First Merit List </a></li>
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />

       </ul>
   </div>
</div>
        </div>


    <div class="col-md-1"></div>

    <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px">
   <div class="panel-heading">
      <h3 class="panel-title">University Of Lahore (UOL) Lahore</h3>
   </div>
   <div class="panel-body">
       <ul>
          <li><a href="file1.docx"> BS(CS) - First Merit List </a></li>
          <li><a href="file1.docx"> BS(SE) - First Merit List </a></li>
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
       </ul>
   </div>
</div>
        </div>



  <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title">National of Engineering and Technology (UET) </h3>
   </div>

   <div class="panel-body">
       <ul>
          <li><a href="file1.docx"> BE(Electrical Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Mechanical Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Chemical Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Civil Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Mechatronics Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Petroleum Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Architectire Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Computer Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(City and Regional Planning) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Geological Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Mining Engineering) - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Polymer Engineering) - First Merit List </a></li>

       </ul>
   </div>
</div>
        </div>



        <div class="col-md-1"></div>

    <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px">
   <div class="panel-heading">
      <h3 class="panel-title">University of the Punjab, Lahore</h3>
   </div>
   <div class="panel-body">
       <ul>
          <li><a href="file1.docx"> BE(Electrical Engineering) Morning - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Chemical Engineering) Morning - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Chemical with Gas Engineering) Morning - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Electrical Engineering) Evening- First Merit List </a></li>
          <li><a href="file1.docx"> BE(Chemical Engineering) Evening - First Merit List </a></li>
          <li><a href="file1.docx"> BE(Chemical with Gas Engineering) Evening - First Merit List </a></li>
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
       </ul>
   </div>
</div>
        </div>



      <div class="col-md-5">
    <div class="panel panel-primary" style="margin-top:20px ; margin-left:50px">
   <div class="panel-heading">
      <h3 class="panel-title">King Edwards Medical University (KEMU), Lahore </h3>
   </div>

   <div class="panel-body">
       <ul>
          <li><a href="file1.docx"> MBBS - First Merit List </a></li>
          <li><a href="file1.docx"> BSc - First Merit List </a></li>
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />


       </ul>
   </div>

</div>
        </div>


<!--    <div class="col-md-5"></div>

           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />-->


    <!--<div class="col-md-1"></div>

     <hr />

            <footer>
  <p align="center">2014-2015 by Muhammad Haroon (BCSF11M024). All Rights Reserved.</p>
  <p align="center"> <strong>Contact us: </strong> <a href="mailto:bcsf11m024@pucit.edu.pk">
  bcsf11m024@pucit.edu.pk</a> </p>
</footer>-->



</body>
    </html>